.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
.header__logotype {
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-right: 93px;
  color: #000000;
  @media screen and (min-width: 768px) and (max-width:1199px) {
     margin-right: 88px;
    }

  &:hover,
  &:focus {
    color: $accent-color;
    transition: color 250ms $timing-function;
  }
}
.header__logo {
  color: $accent-color;
}
